[View in Colaboratory](https://colab.research.google.com/github/LuizFelipeLemon/machine_learning/blob/master/mlp_ann.ipynb)

In [0]:
# Artificial Neural Network
# from https://www.superdatascience.com/machine-learning/ 

# Installing Theano
# pip install --upgrade --no-deps git+git://github.com/Theano/Theano.git

# Installing Tensorflow
# Install Tensorflow from the website: https://www.tensorflow.org/versions/r0.12/get_started/os_setup.html

# Installing Keras
# pip install --upgrade keras

# Part 1 - Data Preprocessing

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
print("Teste")

Teste

In [4]:
import os
import tarfile
from six.moves import urllib

FILE_TO_DOWNLOAD =  "Churn_Modelling.csv"
DOWNLOAD_ROOT = "https://github.com/ect-info/ml/raw/master/"
DATA_PATH = "dados/"
DATA_URL = DOWNLOAD_ROOT + DATA_PATH + FILE_TO_DOWNLOAD

def fetch_data(data_url=DATA_URL, data_path=DATA_PATH, file_to_download=FILE_TO_DOWNLOAD):
  if not os.path.isdir(data_path):
    os.makedirs(data_path)
  urllib.request.urlretrieve(data_url, data_path+file_to_download)
  
  
fetch_data()

# observando se o diret√≥rio datasets foi criado com sucesso 
!ls dados

Churn_Modelling.csv

In [5]:
# Importing the dataset
dataset = pd.read_csv(DATA_PATH+'Churn_Modelling.csv')


dataset.head(  )

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
X = dataset.iloc[:,[3,6,7,8,9,10,11,12]].values
y = dataset.iloc[:, 13].values

print(X[0:6,:])

[[6.1900000e+02 4.2000000e+01 2.0000000e+00 0.0000000e+00 1.0000000e+00
  1.0000000e+00 1.0000000e+00 1.0134888e+05]
 [6.0800000e+02 4.1000000e+01 1.0000000e+00 8.3807860e+04 1.0000000e+00
  0.0000000e+00 1.0000000e+00 1.1254258e+05]
 [5.0200000e+02 4.2000000e+01 8.0000000e+00 1.5966080e+05 3.0000000e+00
  1.0000000e+00 0.0000000e+00 1.1393157e+05]
 [6.9900000e+02 3.9000000e+01 1.0000000e+00 0.0000000e+00 2.0000000e+00
  0.0000000e+00 0.0000000e+00 9.3826630e+04]
 [8.5000000e+02 4.3000000e+01 2.0000000e+00 1.2551082e+05 1.0000000e+00
  1.0000000e+00 1.0000000e+00 7.9084100e+04]
 [6.4500000e+02 4.4000000e+01 8.0000000e+00 1.1375578e+05 2.0000000e+00
  1.0000000e+00 0.0000000e+00 1.4975671e+05]]

In [0]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [0]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [9]:
# Part 2 - Now let's make the ANN!

# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

# Initialising the ANN
classifier = Sequential()

Using TensorFlow backend.

In [0]:
# Adding the input layer and the first hidden layer
classifier.add(Dense( activation = 'relu', input_dim = 8, units = 16, kernel_initializer = 'uniform'))

# Adding the second hidden layer
classifier.add(Dense( activation = 'relu', units = 6, kernel_initializer = 'uniform' ))

# Adding the output layer
classifier.add(Dense( activation = 'sigmoid', units = 1, kernel_initializer = 'uniform'))

In [0]:

# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [12]:
# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 10, epochs = 40)

Epoch 1/40
8000/8000 [==============================] - 1s 169us/step - loss: 0.4750 - acc: 0.7960
Epoch 2/40
8000/8000 [==============================] - 1s 132us/step - loss: 0.4341 - acc: 0.7977
Epoch 3/40
8000/8000 [==============================] - 1s 136us/step - loss: 0.4271 - acc: 0.8220
Epoch 4/40
8000/8000 [==============================] - 1s 135us/step - loss: 0.4214 - acc: 0.8307
Epoch 5/40
8000/8000 [==============================] - 1s 135us/step - loss: 0.4174 - acc: 0.8312
Epoch 6/40
8000/8000 [==============================] - 1s 136us/step - loss: 0.4153 - acc: 0.8310
Epoch 7/40
8000/8000 [==============================] - 1s 136us/step - loss: 0.4136 - acc: 0.8302
Epoch 8/40
8000/8000 [==============================] - 1s 138us/step - loss: 0.4121 - acc: 0.8304
Epoch 9/40
8000/8000 [==============================] - 1s 141us/step - loss: 0.4112 - acc: 0.8314
Epoch 10/40
8000/8000 [==============================] - 1s 138us/step - loss: 0.4100 - acc: 0.8330
Epoch 11/40
8000/8000 [==============================] - 1s 138us/step - loss: 0.4092 - acc: 0.8322
Epoch 12/40
8000/8000 [==============================] - 1s 137us/step - loss: 0.4090 - acc: 0.8330
Epoch 13/40
8000/8000 [==============================] - 1s 138us/step - loss: 0.4088 - acc: 0.8306
Epoch 14/40
8000/8000 [==============================] - 1s 138us/step - loss: 0.4075 - acc: 0.8316
Epoch 15/40
8000/8000 [==============================] - 1s 138us/step - loss: 0.4077 - acc: 0.8314
Epoch 16/40
8000/8000 [==============================] - 1s 139us/step - loss: 0.4068 - acc: 0.8312
Epoch 17/40
8000/8000 [==============================] - 1s 136us/step - loss: 0.4071 - acc: 0.8319
Epoch 18/40
8000/8000 [==============================] - 1s 136us/step - loss: 0.4067 - acc: 0.8324
Epoch 19/40
8000/8000 [==============================] - 1s 138us/step - loss: 0.4058 - acc: 0.8317
Epoch 20/40
8000/8000 [==============================] - 1s 136us/step - loss: 0.4054 - acc: 0.8329
Epoch 21/40
8000/8000 [==============================] - 1s 136us/step - loss: 0.4059 - acc: 0.8317
Epoch 22/40
8000/8000 [==============================] - 1s 136us/step - loss: 0.4044 - acc: 0.8320
Epoch 23/40
8000/8000 [==============================] - 1s 137us/step - loss: 0.4039 - acc: 0.8337
Epoch 24/40
8000/8000 [==============================] - 1s 137us/step - loss: 0.4044 - acc: 0.8324
Epoch 25/40
8000/8000 [==============================] - 1s 137us/step - loss: 0.4035 - acc: 0.8340
Epoch 26/40
8000/8000 [==============================] - 1s 142us/step - loss: 0.4021 - acc: 0.8332
Epoch 27/40
8000/8000 [==============================] - 1s 137us/step - loss: 0.4001 - acc: 0.8346
Epoch 28/40
8000/8000 [==============================] - 1s 138us/step - loss: 0.3954 - acc: 0.8372
Epoch 29/40
8000/8000 [==============================] - 1s 136us/step - loss: 0.3891 - acc: 0.8415
Epoch 30/40
8000/8000 [==============================] - 1s 139us/step - loss: 0.3833 - acc: 0.8434
Epoch 31/40
8000/8000 [==============================] - 1s 138us/step - loss: 0.3787 - acc: 0.8469
Epoch 32/40
8000/8000 [==============================] - 1s 138us/step - loss: 0.3744 - acc: 0.8449
Epoch 33/40
8000/8000 [==============================] - 1s 136us/step - loss: 0.3709 - acc: 0.8476
Epoch 34/40
8000/8000 [==============================] - 1s 138us/step - loss: 0.3678 - acc: 0.8470
Epoch 35/40
8000/8000 [==============================] - 1s 137us/step - loss: 0.3654 - acc: 0.8499
Epoch 36/40
8000/8000 [==============================] - 1s 136us/step - loss: 0.3640 - acc: 0.8505
Epoch 37/40
8000/8000 [==============================] - 1s 136us/step - loss: 0.3618 - acc: 0.8494
Epoch 38/40
8000/8000 [==============================] - 1s 136us/step - loss: 0.3615 - acc: 0.8499
Epoch 39/40
8000/8000 [==============================] - 1s 136us/step - loss: 0.3592 - acc: 0.8504
Epoch 40/40
8000/8000 [==============================] - 1s 135us/step - loss: 0.3597 - acc: 0.8522

In [13]:
# Part 3 - Making the predictions and evaluating the model

# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

weights = classifier.layers[0].get_weights()[0]
biases = classifier.layers[0].get_weights()[1]

print(len(biases))

#print(biases)

16

In [14]:
print("Matriz de Confus√£o:")
print(cm)
print("Taxa de acerto:")
print((cm[0,0]+cm[1,1])/len(y_test) )
print(len(y_test))
print(classifier.layers[0].get_config())

Matriz de Confus√£o:
[[1549   46]
 [ 231  174]]
Taxa de acerto:
0.8615
2000
{'name': 'dense_1', 'trainable': True, 'batch_input_shape': (None, 8), 'dtype': 'float32', 'units': 16, 'activation': 'relu', 'use_bias': True, 'kernel_initializer': {'class_name': 'RandomUniform', 'config': {'minval': -0.05, 'maxval': 0.05, 'seed': None}}, 'bias_initializer': {'class_name': 'Zeros', 'config': {}}, 'kernel_regularizer': None, 'bias_regularizer': None, 'activity_regularizer': None, 'kernel_constraint': None, 'bias_constraint': None}

In [0]:
f= open("weights.txt","w+")
f.write(str(len(classifier.layers))+' ')
f.write(str(classifier.layers[0].get_config()['batch_input_shape'][1]))

for i in range(3):
  f.write('\n'+str(classifier.layers[i].get_config()['units'])+',')
  f.write(str(classifier.layers[i].get_config()['activation'])+'\n')
  luiz = np.array2string(classifier.layers[i].get_weights()[0], precision=4, separator=',',suppress_small=True)
  f.write(luiz)
f.close()

In [26]:
f=open("weights.txt", "r")
if f.mode == 'r':
  contents =f.read()
  print(contents)

3 8
16,relu
[[ 0.0658, 0.0737, 0.0216, 0.0053,-0.2061,-0.1172,-0.0252, 0.0668, 0.1047,
  -0.0133,-0.0267, 0.0116, 0.0505, 0.0009, 0.1032,-0.0047],
 [ 0.0024,-0.4632,-0.4087, 0.014 , 0.2657,-0.2286, 0.2794,-0.3538, 0.3012,
  -0.0578,-0.2449, 0.0425,-0.3854, 0.1974,-0.5696,-0.2729],
 [-0.0767,-0.131 , 0.0855,-0.0065, 0.1058, 0.0554, 0.0124,-0.0489, 0.0113,
  -0.0356, 0.0155, 0.022 ,-0.0205, 0.0154, 0.0226,-0.0132],
 [-0.4052,-0.0754, 0.0887,-0.0805,-0.2761,-0.2757,-0.0409,-0.0298, 0.1214,
  -0.1027,-0.0499,-0.6543, 0.071 ,-0.0662, 0.1901,-0.2293],
 [ 0.099 ,-0.1393,-0.1438,-0.2232, 0.0004,-0.1882,-0.3229,-0.1843,-0.1737,
  -0.228 ,-0.2042, 0.1035,-0.209 ,-0.2591,-0.0746,-1.2792],
 [-0.0606, 0.0165, 0.056 , 0.0169,-0.3283, 0.0047, 0.0289, 0.0895, 0.2433,
  -0.0335,-0.0446, 0.0133,-0.0248, 0.0154,-0.0377, 0.0043],
 [ 0.5671, 0.0832,-0.0811,-0.0357, 0.3253,-0.2983, 0.7777,-0.1639, 0.4049,
  -0.0272,-0.1235, 0.0366,-0.274 , 0.6531, 0.1661, 0.1062],
 [-0.0844, 0.0658,-0.0224, 0.0226,-0.3892,-0.0802, 0.0239, 0.0855,-0.0566,
   0.045 , 0.0153, 0.0129,-0.0111, 0.0221, 0.0624, 0.0505]]
6,relu
[[ 0.388 , 0.3751, 0.3237, 0.3216,-0.0018, 0.2644],
 [ 0.1355, 0.206 , 0.2072, 0.2194,-0.0443,-0.2414],
 [ 0.1824, 0.1787, 0.1618, 0.1452,-0.0499,-0.4564],
 [ 0.2853, 0.2541, 0.3067, 0.229 , 0.0158,-0.1787],
 [ 0.3806, 0.3858, 0.3787, 0.4158,-0.0271, 0.214 ],
 [ 0.2012, 0.1813, 0.2343, 0.2097, 0.023 ,-0.2807],
 [ 0.489 , 0.5216, 0.5407, 0.5759,-0.0367,-0.3522],
 [ 0.2547, 0.2484, 0.2469, 0.2913, 0.0002,-0.3714],
 [ 0.3235, 0.2693, 0.2889, 0.2691, 0.0094,-0.0841],
 [ 0.2929, 0.3174, 0.259 , 0.3442,-0.0266,-0.2525],
 [ 0.2817, 0.3141, 0.31  , 0.3021,-0.043 ,-0.5389],
 [ 0.6348, 0.5766, 0.6218, 0.6451,-0.0028,-0.0452],
 [ 0.2215, 0.2405, 0.2793, 0.2758, 0.0318,-0.5436],
 [ 0.3788, 0.4021, 0.4051, 0.3273,-0.0328,-0.1705],
 [ 0.    ,-0.0588,-0.0039,-0.0224,-0.0339,-0.2256],
 [-0.6871,-0.6822,-0.6242,-0.7108,-0.002 , 0.8048]]
1,sigmoid
[[-0.4988],
 [-0.4872],
 [-0.471 ],
 [-0.5213],
 [ 0.0023],
 [ 2.377 ]]